* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    scroll-behavior: smooth;
}

body {
    background: radial-gradient(circle,#020617,#000);
    color: white;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: rgba(0,0,0,0.7);
}

/* Sections */
section {
    padding: 60px;
    text-align: center;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.05);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    box-shadow: 0 0 20px rgba(0,255,255,0.2);
}

/* Glow */
.card:hover {
    box-shadow: 0 0 30px cyan;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
}

input, textarea {
    margin: 5px;
    padding: 10px;
    border: none;
}

button {
    padding: 10px;
    background: cyan;
    border: none;
    cursor: pointer;
}
